<div class="profile-wrap">
  <div class="row">
    <div class="col-md-5">
      <%= image_tag avatar_url(@user), class: "round-img" %>
    </div>
    <div class="col-md-7 my-auto">
      <div class="row user-name">
        <h2><%= @user.name %></h2>
        <%= render "layouts/stats" %>
      </div>
      <% if current_user == @user %>
        <%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-outline-dark common-btn edit-profile-btn my-auto" %>
      <% end %>
    </div>
  </div>
</div>
<div class="bio text-center">
  <%= @user.bio %>
</div>
<h3>投稿数 <%= @user.posts.count %>件</h3>
