<%= provide(:title, "My page") %>
<div class="container">
  <%= render "user_info" %>
  <h3>投稿数 <%= @user.posts.count %>件</h3>
</div>

<div class="photo-section">
  <%= render "posts/post_list" %>
</div>
<%= paginate @posts %>
